<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#"><i class="fas fa-cube"></i> About</a>
    <a href="#"><i class="fas fa-user"></i> Profile</a>
    <a href="#"><i class="far fa-envelope"></i> Contact</a>
    <a href="#"><i class="fas fa-file-contract"></i> Terms</a>
    <a href="#"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
  </div>
  
  <div id="main" class="styleNav">
    <button class="openbtn" (click)="openNav()">
        &#9776;        
    </button>
    <h2 class="styleComp"> 
       Konektron
    </h2>
    <img id="logo" class="styleLogo" src="./../../../../assets/images/logo.png" alt="Logo Konektron">    
  </div>