<section>
    <div class="row style-footer">
      <div class="col-3"><a alt="About" routerLink="about"><i class="fas fa-mobile-alt"></i></a><span class="style-text">About</span></div>
      <div class="col-3"><a href="https://orkneytech.com.br" alt="Site" target="_blank"><i class="fas fa-globe-americas"></i></a><span class="style-text">OrkneyTech</span></div>
      <div class="col-3"><a alt="Terms" routerLink="terms"><i class="far fa-file-alt"></i></a><span class="style-text">Terms</span></div>
      <div class="col-3"><a alt="Contacts" routerLink="contact"><i class="far fa-envelope"></i></a><span class="style-text">Contacts</span></div>
    </div>
    <div>
      <p class="style-footer style-text2"><i>Powered By Angular 10+.</i></p>
    </div>
</section>
